{% include 'includes/header.html' %}

<div class="container mt-5">
    <h2>Aircraft Assembly Report</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Aircraft</th>
                <th>Assembly Date</th>
                <th>Status</th>
                <th>Used Parts</th>
            </tr>
        </thead>
        <tbody>
            {% for assembly in assembly_data %}
                <tr>
                    <td>{{ assembly.plane }}</td>
                    <td>{{ assembly.date_assembled }}</td>
                    <td>{{ assembly.status }}</td>
                    <td>
                        <ul>
                            {% for part in assembly.parts %}
                                <li>{{ part.part.part_type }} - {{ part.quantity_used }} units</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'includes/footer.html' %}
